    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tech</li><!-- categori -->
              <!-- favorite -->
              <li class="active"><a href="#">Hardware</a></li>
              <li><a href="#">Software</a></li>
              <li><a href="#">Webprogramming</a></li>
              <li><a href="#">Python</a></li>
              <li class="nav-header">Design</li><!-- categori -->
              <!-- favorite -->
              <li><a href="#">Webdesign</a></li>
              <li><a href="#">Color</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">Designer</a></li>
              <li class="nav-header">Game</li><!-- categori -->
              <!-- favorite -->
              <li><a href="#">MMORPG</a></li>
              <li><a href="#">Rhythm</a></li>
              <li><a href="#">Cocos2d</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class=main>
          <!-- for_loop -->
          <div class="span10">
            <div class="hero-unit">
              <div class=span3>
                <a href=# class=thumbnail>
                  <img src="img/bootstrap-docs-readme.png"><!-- thumbnail_img -->
                </a>
              </div><!-- /span3 -->
              <h1><a href=#>Bootstrap, from Twitter</a></h1><!-- link_title -->
              <p>
              <!-- link_clip -->
              This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
              </p>
            </div><!-- /hero-unit -->
         </div><!--/span10-->
          <!-- /for_loop -->
        </div><!--/main -->
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; LineClipper 2013</p>
      </footer>
    </div><!--/.fluid-container-->
