form#lineClipperForm input {
    display: block;
}
form#lineClipperForm label {
    display: block;
}
form#lineClipperForm input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}
form#lineClipperForm fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}
form#lineClipperForm h1 {
    font-size: 1.2em;
    margin: .6em 0;
}
.ui-dialog .ui-state-error {
    padding: .3em;
}

