    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .thumbnail {
        height: 150px;
        width: 150px;
      }
      h1 {
        margin-top: 100px;
        margin-left: 220px;
      }
      .span2 {
        margin-bottom: 20px;
      }
      p {
        margin-left: 60px;
      }
      .hero-unit {
        min-height: 180px;
        padding: 40px 20px 30px 20px;
      }
      .hero-unit h2, p {
        margin-left: 210px;
      }
      .inline {
        padding-left: 60px;
      }
      @media (max-width: 980px) {
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }


      @media (max-width: 767px) {
        .thumbnail {
          width: 100px;
          height: 100px;
        }
        .hero-unit h1, p {
          margin: 0px;
        }
      }
 
    </style>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class=span12>
          <div class=span2>
            <a href=# class=thumbnail>
              <img src="img/bootstrap-docs-readme.png">
            </a>
          </div>
          <h1><a href=#>김원재</a></h1>
        </div>
        <p>
          <ul class=inline>
            <i class=icon-briefcase></i>
            <li>MEETY</li>
            <li><span class="divider">/</span></li>
            <li>Soongsil University</li>
          </ul>

        </p>
        <p>
          <ul class=inline>
          <i class=icon-book></i>
            <li>Python</li>
            <li><span class="divider">/</span></li>
            <li>Ruby</li>
            <li><span class="divider">/</span></li>
            <li>Flask</li>
            <li><span class="divider">/</span></li>
            <li>SmiPy</li>
          </ul>
        </p>
      </div>
      <hr>
      <!-- for_loop -->
        <div class="hero-unit">
          <div class=span2>
            <a href=# class=thumbnail>
              <img src="img/bootstrap-docs-readme.png"><!-- thumbnail_img -->
            </a>
          </div><!-- /span2 -->
          <h2><a href=#>Bootstrap, from Twitter</a></h2><!-- link_title -->
          <p>
          <!-- link_clip -->
          This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
          </p>
        </div><!-- /hero-unit -->
      <!-- /for_loop -->

     <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

